<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2>sobre mí</h2>
    <p><span>hola, soy oliver yantas.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro provident, est fugiat cum quos sint ad consequatur itaque a, illo labore rem illum! Sunt veniam nisi quas similique cum.</p>

    <div class="fila">
      <!-- Datos personales -->
       <div class="col">
        <h3>datos personales</h3>
        <ul>
          <li>
            <strong>cumpleaños</strong>
            10-11-1994
          </li>
          <li>
            <strong>teléfono</strong>
            +51 968 177 052
          </li>
          <li>
            <strong>email</strong>
            jean.yantas&#64;gmail.com
          </li>
          <li>
            <strong>website</strong>
            www.example.com
          </li>
          <li>
            <strong>Dirección</strong>
            Lima, Perú
          </li>
          <li>
            <strong>Cargo</strong>
            <span>FREELANCE</span>
          </li>
        </ul>
       </div>

       <!-- Intereses -->
        <div class="col">
          <h3>intereses</h3>
          <div class="contenedor-intereses">
            <div class="interes">
              <i class="fa-solid fa-gamepad"></i>
              <span>JUEGOS</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-headphones"></i>
              <span>MÚSICA</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-plane"></i>
              <span>VIAJAR</span>
            </div>
            <div class="interes">
              <i class="fa-brands fa-apple"></i>
              <span>MAC OS</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-person-hiking"></i>
              <span>DEPORTE</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-book"></i>
              <span>LIBROS</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-car"></i>
              <span>AUTOS</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-camera"></i>
              <span>FOTOS</span>
            </div>
          </div>
        </div>
    </div>
    <button>
      descargar cv <i class="fa-solid fa-download"></i>
      <span class="overlay"></span>
    </button>
  </div>
</section>
